section {
     box-shadow: 0px 3px 12px 0px #000000;


    .navbar {
           .container-fluid {
        
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo_img {
                width: auto;
                height: 7vh;
                cursor: pointer;
                overflow: hidden;

                img {
                    width: 95%;
                    height: 95%;
                }
            }

            .navbar-brand {
                margin-left: 10px;
                font-size: 1.4em;
                font-weight: 600;
                cursor: pointer;
            }
        }


    }
}